benchmarks/PlaidBench/src/edu/cmu/isri/plaid/benchmarks/BenchmarkDesc/Benchmark.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BenchmarkSuite">
      <xs:complexType>
          <xs:sequence>
            <xs:element ref="Benchmark" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute name="seed" type="xs:integer" use="optional"/>
      </xs:complexType>
  </xs:element>
  <xs:element name="Benchmark">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Component" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Component">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="type" use="required"/>
          <xs:attribute type="xs:string" name="name" use="optional"/>
          <xs:attribute type="xs:string" name="path" use="optional"/>
          <xs:attribute type="xs:string" name="mainClass" use="optional"/>
          <xs:attribute type="xs:string" name="method" use="optional"/>
          <xs:attribute type="xs:string" name="classpath" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>